@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
<div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-6">
                <h2>Age calculator</h2>
                <form action="Result" method="POST">
                    <div class="mb-3">
                        <label class="form-label" for="name">Your name</label>
                        <input class="form-control" type="text" name="name" step="0.00001" id="name"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="birthDate">Birth date</label>
                        <input class="form-control" type="date" name="birthDate" step="0.00001" id="birthDate"/>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" type="submit">Oblicz</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>